*{
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color: #45b8ac;
  padding: 0 1%;
}

#title{
  font-size: 1em;
  background-color: #3fa69c;
  color: white;
  padding: auto;
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0.2em 0.2em 0.2em 0em #1c4a45;
}

.main{
  border: 1px solid green;
  padding: 0;
  margin: 2% 0 0 0; 
}

#image{
  display: inline;
  max-width: 80%;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}
#img-caption{
  background-color: #2a6f68;
  color: #ccc;
  font-size: 1em;
  font-family: cursive;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  box-shadow: 2px 2px 4px 0px #0e2523; 
}
#img-div{
  float: left;
  width: 20%;
}
.right{
  float:left;
  width:70%;
  margin: 1% 0;
  text-align: center;
  border: 2px solid black;
  height: auto;
}
.resume{
  width: 100%;
  height: 85%;
  border: none;
}
